/* Layout */
*		{ font-family: Helvetica, sans-serif; font-size: 12px; color: #404040; }
a		{ font-size: 1em; }
body		{ background-color: #F4F4F4; }
section		{ margin: 1em; padding: 1em; background-color: #FFF; }
h1		{ margin: 0; font-weight: normal; font-size: 3.0em; color: #C30; border-bottom: 1px dotted #C30; }
div#c1		{ padding: 1em; width: 200px; float: left; }
img#sfh		{ padding: 2em; border-width: 0; }
div#c2		{ padding: 1em; margin-left: 220px; }
ul.t		{ height: 1%; list-style-type: none; }
ul.t li		{ float: left; width: 160px; height: 160px; }
ul.t li img	{ border: 0; }
footer		{ clear: both; text-align: center; font-size: 0.8em; border-top: 1px dotted #C30; }
a.m		{ unicode-bidi: bidi-override; direction: rtl; }
.wait		{ border: 1px solid #FFF; background: url(filetree/spinner.gif) left top no-repeat; }

/* File Tree Overwrite */
ul.jqueryFileTree 		{ line-height: 18px; padding: 0px; margin: 0px; }
ul.jqueryFileTree li		{ list-style: none; padding: 0px; padding-left: 20px; margin: 0px; white-space: nowrap; }
ul.jqueryFileTree a		{ color: #333; text-decoration: none; display: block; padding: 0px 2px; }
ul.jqueryFileTree a:hover 	{ background: #BDF; }
.jqueryFileTree li.directory	{ background: url(filetree/directory.png) left top no-repeat; }
.jqueryFileTree li.expanded	{ background: url(filetree/folder_open.png) left top no-repeat; }
.jqueryFileTree li.file		{ background: url(filetree/file.png) left top no-repeat; }
.jqueryFileTree li.wait		{ background: url(filetree/spinner.gif) left top no-repeat; }

